<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <!-- プロトタイプのタイトル -->
      <p class="prototype__heading">
        <%= @prototype.title %>
      </p>

      <!-- プロトタイプの投稿者情報 -->
      <p class="prototype__user-info">
        <%= link_to @prototype.user.name, user_path(@prototype.user), class: 'prototype__user' %>
      </p>

      <!-- 投稿者とログインユーザーが一致する場合に編集・削除リンクを表示 -->
      <% if current_user == @prototype.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype), class: 'prototype__btn' %> <!-- 編集リンク -->
          <%= link_to "削除する", prototype_path(@prototype), data: { turbo_method: :delete } , class: 'prototype__btn' %> <!-- 削除リンク -->
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag @prototype.image %>
      </div>
      
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>

      <!-- コメント投稿フォーム (ログインユーザーのみ表示) -->
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@prototype, @comment], local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, id: "comment_text", rows: 4 %> <!-- 長文を入力しやすいようにテキストエリアを使用 -->
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: "form__btn" %>
            </div>
          <% end %>
        <% end %>

        <!-- コメント一覧 -->
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <strong><%= comment.user.name %>:</strong>
              <%= comment.text %> <!-- コメントのテキスト表示 -->
              <%= link_to comment.user.name, user_path(comment.user), class: "comment_user" %> <!-- コメント投稿者のリンク -->
            </li>
          <% end %>
        </ul>
        <%= link_to "戻る", request.referer || root_path, class: "btn btn-back" %>
      </div>
    </div>
  </div>
</main>
